h1,
p {
  font-family: Lato;
}

.header {
  display: flex;
  flex-direction: row;
}

.title {
  flex: 1;
  text-align: center;
}

td {
  border: 1px solid #d3d6da;
  text-align: center;
  height: 30px;
  width: 30px;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 4px;
}

.key {
  border: 0;
  padding: 0;
  height: 40px;
  border-radius: 4px;

  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
