html {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
}

.title {
  flex: 1;
  text-align: center;
}

td {
  border: 1px solid #d3d6da;
  text-align: center;
  height: 30px;
  width: 30px;
}

.absent {
  color: #ffffff;
  border-color: #787c7e;
  background-color: #787c7e;
}

.present {
  color: #ffffff;
  border-color: #c9b458;
  background-color: #c9b458;
}

.correct {
  color: #ffffff;
  border-color: #6aaa64;
  background-color: #6aaa64;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 4px;
}

/* shift 2nd row */
.keyboard > button:nth-child(11) {
  grid-column: 2 / span 2;
}

.keyboard > button:nth-child(20),
.keyboard > button:nth-child(28) {
  grid-column: span 3;
}

.key {
  grid-column: span 2;
  border: 0;
  padding: 0;
  height: 40px;
  border-radius: 4px;

  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-close {
  align-self: flex-end;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  padding: 16px;

  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 20%);
}

.modal-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.modal-statistics {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 16px;
}

.modal-statistic {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-statistic > span:nth-child(1) {
  font-size: 36px;
}

.modal-statistic > span:nth-child(2) {
  font-size: 12px;
  text-align: center;
}
